/* 网页背景 */
body{
    background-image: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    z-index: -1;
}

/* 设置内外边距为0 */
*{
    margin: 0;
    padding: 0;
}

/* 给背景盖上黑色遮罩 */
.BGcover{
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
/* logo设置 */
.mylogo {
    width: 100%;
    height: 150px;
    color: rgba(240, 248, 255, 0);
    background-image: url('../img/LOGO.png');
    background-color: rgba(178, 47, 47, 0);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 600px;
    position:fixed;
    top: 50%;
    font-size: 0;
    margin-top: -150px;
}
/* 按钮设置 */
.myintro {
    font-size: 40px;
    width: 300px;
    height: 80px;
    line-height: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    background-size:contain;
    color: #46abe5;
    text-align: right;
    position:relative;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}

.bilibili{
    display: block;
    font-size: 0px;
    width: 40px;
    height: 40px;
    line-height: 0px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    margin-top:-59px;
    margin-left: 40px;
    margin-right: auto;
}

.myintro:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.1);
}
.myintro:active {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(0.9);
}
.thetxt{
    margin-right: 40px;
}
/* 设置联系图标样式 */
.icon1{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(111, 206, 52, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 30px;
    padding: 10px;

}

.icon2{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(0, 183, 255, 0.3);
    backdrop-filter: blur(5px);
    position: fixed;
    right: 30px;
    padding: 10px;

}
.sendm{
    transform: scale(0.9);
}
.lianxi{
    width: 200px;
    height: 60px;
    position: relative;
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
}
/* 底部版权信息 */
.banquan{
    width: 100%;
    position:fixed;
    color: rgba(240, 248, 255, 0.2);
    bottom: 10px;
    text-align: center;
    z-index: -1;
}
